<!-- app.component.html -->

<div>
  <label for="location">Select City:</label>
  <select id="location" [(ngModel)]="selectedCity" (change)="updateCityName()">
      <option value="Lahore">Lahore</option>
      <option value="Islamabad">Islamabad</option>
      <option value="Karachi">Karachi</option>
      <option value="Rawalpindi">Rawalpindi</option>
      <option value="Faisalabad">Faisalabad</option>
  </select>
  <button (click)="getWeather()">Get Weather</button>
</div>

<mat-card class="stl">
  <h2>{{ selectedCity }}</h2>
  <div><img src='./assets/img.png'></div>
  <mat-card-content>
    <div>Summary: {{ sum }}</div>
    <div>Temp: {{ tem }} °C</div>
    <div>Min Temp: {{ tem_min }} °C</div>
    <div>Max Temp: {{ tem_max }} °C</div>
    <div>Pressure: {{ pre }} P</div>
    <div>Humidity: {{ hum }} °C</div>
    <div>Feels Like: {{ feel }} °C</div>
  </mat-card-content>
</mat-card>
